<%= form_for [@photo, @content_tag] do |f| %>

  <div class="form_group">
    <%= f.label "Tag" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit "Edit", class: "btn btn-default" %>
<% end %>
